/.idea/
/build/
/terraform-provider-teamcity

*.log
*.http
http-client.private.env.json

terraform.tfvars
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform/

swagger.json
swagger_pretty.json
tfplugindocs

local-teamcity-podman

.DS_Store
