services:
  teamcity-server-local:
    image: jetbrains/teamcity-server:2025.11-linux-arm64
    volumes:
      - type: bind
        source: "./testdata"
        target:  "/testdata"
      - type: bind
        source: "./testdata/plugins"
        target: "/data/teamcity_server/datadir/plugins"
    ports:
      - 8111:8111
    environment:
      - TEAMCITY_CONFIGURATION_PATH=/testdata/teamcity.properties
      - TEAMCITY_SERVER_MEM_OPTS=-Xmx4g
    mem_limit: 8g
    healthcheck:
      test: "curl -f http://localhost:8111/healthCheck/ready"
      timeout: 5s
      interval: 10s
      retries: 30
  teamcity-agent-local:
    image: jetbrains/teamcity-agent:2025.11-linux-arm64
    environment:
      - SERVER_URL=http://teamcity-server-local:8111
    depends_on:
      teamcity-server-local:
        condition: service_healthy
